* {
	box-sizing: border-box;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.css-1hlb4bt-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
	color: #ffffff !important;
}

.css-11jvv97 {
	color: #979797 !important;
}
.css-11jvv97:active {
	color: #ffffff !important;
}
.css-11jvv97:focus {
	color: #ffffff !important;
}
